# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/
*__init__.py

# Ignore virtual environment directories
.venv/
.env/

# Ignore other common files and directories
*.log
*.csv

# Ignore IDE configurations
.vscode
.idea

# Ignore tool and external app data
dep/*
tools/*
Obsidian/*
kanpilot.toml
docs/*

# Ignore environments (API Keys in there!!)
environments

# Ignore the MongoDB Base Dump
src/config/database/base_dump/*