# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/
*__init__.py
*python-version

# Ignore environment files
*.env
.venv/
.env/

# Ignore other common files and directories
*.log
*.csv
*.zip

# Ignore project configuration packages
pyproject.toml
.vscode
.idea

# Ignore database dumps
static/database/base_dump/*

# Ignore docker
docker-compose.yml
Dockerfile

# Ignore tool and external app data
dep/*
tools/*
testing/*
Obsidian/*
snapshots/*
kanpilot.toml
docs/*
launch/*